._clearfix
	zoom: 1
	&:before,
	&:after
		content: ""
		display: table
		height: 0;
		visibility: hidden;
		font-size: 0;
	&:after
		clear: both





.pa{position: absolute !important;}
.pr{position: relative !important;}
.ps{position: static !important;}

.oh{overflow: hidden !important;}
.ov{overflow: visible !important;}

.dn{display: none !important;}
.db{display: block !important;}
.dib{display: inline-block; vertical-align: top;}

.fn{float: none !important;}
.fr{float: right !important;}
.fl{float: left !important;}

.wa{width: auto !important;}

.m0{margin: 0 !important;}
.mt0{margin-top: 0 !important;}
.mr0{margin-right: 0 !important;}
.mb0{margin-bottom: 0 !important;}
.ml0{margin-left: 0 !important;}

.p0{padding: 0 !important;}
.pt0{padding-top: 0 !important;}
.pr0{padding-right: 0 !important;}
.pb0{padding-bottom: 0 !important;}
.pl0{padding-left: 0 !important;}

.fs12{font-size: 12px !important;}
.fs13{font-size: 13px !important;}
.fs14{font-size: 14px !important;}
.fs16{font-size: 16px !important;}
.fs18{font-size: 18px !important;}
.fs20{font-size: 20px !important;}
.fs24{font-size: 24px !important;}

.tal{text-align: left !important;}
.tar{text-align: right !important;}
.tac{text-align: center !important;}

.tdn{text-decoration: none !important;}
.tdn:hover{text-decoration: underline !important;}

.ttu{text-transform: uppercase !important;}

.vat{vertical-align: top !important;}

.wsn{white-space: nowrap !important;}

.cp{cursor: pointer;}

.b0{border: 0 !important;}
.bt0{border-top: 0 !important;}
.br0{border-right: 0 !important;}
.bb0{border-bottom: 0 !important;}
.bl0{border-left: 0 !important;}

.bbd{text-decoration: none !important; border-bottom: 1px dashed;}
.bbd:hover{text-decoration: none !important; border-bottom: 0;}

.bbdo{text-decoration: none !important; border-bottom: 1px dotted;}
.bbdo:hover{text-decoration: none !important; border-bottom: 0;}

.bgn{background: none !important;}

.cb{clear: both !important;}
