._clearfix
	zoom: 1
	&:before,
	&:after
		content: ""
		display: table
		height: 0;
		visibility: hidden;
		font-size: 0;
	&:after
		clear: both





._posAbs     {position: absolute !important;}
._posRel     {position: relative !important;}
._posStat    {position: static !important;}

._overHid    {overflow: hidden !important;}
._overVis    {overflow: visible !important;}

._dispNon    {display: none !important;}
._dispBl     {display: block !important;}
._dispInl    {display: inline-block; vertical-align: top;}

._floatNone  {float: none !important;}
._floatRight {float: right !important;}
._floatLeft  {float: left !important;}

._widthAuto  {width: auto !important;}

._marg0      {margin: 0 !important;}
._margTop0   {margin-top: 0 !important;}
._margRight0 {margin-right: 0 !important;}
._margBott0  {margin-bottom: 0 !important;}
._margLeft0  {margin-left: 0 !important;}

._padd0      {padding: 0 !important;}
._paddTop0   {padding-top: 0 !important;}
._paddRight0 {padding-right: 0 !important;}
._paddBott0  {padding-bottom: 0 !important;}
._paddLeft0  {padding-left: 0 !important;}

._textLeft   {text-align: left !important;}
._textRight  {text-align: right !important;}
._textCenter {text-align: center !important;}

._upercase   {text-transform: uppercase !important;}

._bord0      {border: 0 !important;}
._bordTop0   {border-top: 0 !important;}
._bordRight0 {border-right: 0 !important;}
._bordBott0  {border-bottom: 0 !important;}
._bordLeft0  {border-left: 0 !important;}

._backNone   {background: none !important;}

._clearBoth  {clear: both !important;}
