	$s-header__contacts__mail = 34px 0px -34px 0px 24px 16px 58px 34px 'sprite.png';
	$s-header__contacts__phone = 0px 0px 0px 0px 24px 23px 58px 34px 'sprite.png';
	$s-spacer = 0px 33px 0px -33px 1px 1px 58px 34px 'sprite.png';
