.content
	padding-bottom: $footerHeight
	position: relative
	z-index: 1

.content__holder
	min-width: $pageWidthMin
	max-width: $pageWidthMax
	margin: 0 auto

.content__holder__wrap
	display: table
	width: 100%
