.footer
	position: relative
	z-index: 2
	background: #cacbcd
	margin-top: -($footerHeight)
	height: $footerHeight

.footer__holder
	min-width: $pageWidthMin
	max-width: $pageWidthMax
	height: ($footerHeight - 40)
	margin: 0 auto
	padding: 20px 0
	background: #686d72

