.logo
	display: block
	float: left
	border: 1px solid red

.header__nav
	display: block; /* comment */
	clear: both
	background: #000
	border-radius: 5px;

body
	background-image: url("../../src/images/sprites/box.png")

.body
	background-image: url("../images/arrow.png"); /* @meta {"sprite": {"skip": true}} */

.body1
	background-image: url("../../src/images/sprites/arrow.png")

.body2
	background-image: url("../../src/images/sprites/npm.png")




