
.header__contacts
	float: right
	padding: 0 20px 0 0 0
	span,
	a
		display: inline-block
		position: relative
		margin: 0 0 10px 0
		font-size: $fontSizeM
		color: $colorText
		&:before
			content: ''
			position: absolute
			left: 0
			top: 3px
	.mail:before
		sprite($s-header__contacts__mail)
		left: -(spriteWidth($s-header__contacts__mail)+10)
	.phone:before
		sprite($s-header__contacts__phone)
		left: -(spriteWidth($s-header__contacts__phone)+10)
		

