
html, body
	height: 100%

body
	min-width: $pageWidthMin





.pagewrap
	position: relative
	min-height: 100%


/*--- header ---*/
.header
	position: relative
	background: #c0c0c0

.header__holder
	min-width: $pageWidthMin
	max-width: $pageWidthMax
	height: 100px
	margin: 0 auto
	background: gray


/*--- footer ---*/
.footer
	position: relative
	background: #c0c0c0
	margin-top: -($footerHeight)
	height: $footerHeight

.footer__holder
	min-width: $pageWidthMin
	max-width: $pageWidthMax
	margin: 0 auto
	height: $footerHeight
	background: gray




/*--- sidebar ---*/
.sidebar
	width: 280px
	float: left
	margin: 0 20px 0 0
	border: 1px solid red




/*--- CONTENT ---*/
.content
	padding-bottom: $footerHeight

.content__holder
	min-width: $pageWidthMin
	max-width: $pageWidthMax
	margin: 0 auto

.middlecoll
	overflow: hidden
	border: 1px solid red
