
html, body
	height: 100%

body
	min-width: $pageWidthMin





.pagewrap
	position: relative
	min-height: 100%


/*--- header ---*/
.header
	position: relative
	z-index: 2
	background: #cacbcd

.header__holder
	min-width: $pageWidthMin
	max-width: $pageWidthMax
	margin: 0 auto
	padding: 20px 0 0 0
	background: #686d72


/*--- footer ---*/
.footer
	position: relative
	background: #cacbcd
	margin-top: -($footerHeight)
	height: $footerHeight

.footer__holder
	min-width: $pageWidthMin
	max-width: $pageWidthMax
	height: ($footerHeight - 40)
	margin: 0 auto
	padding: 20px 0
	background: #686d72




/*--- sidebar ---*/
.sidebar
	width: $sidebarWidth
	float: left
	padding: 20px 0




/*--- CONTENT ---*/
.content
	padding-bottom: $footerHeight

.content__holder
	min-width: $pageWidthMin
	max-width: $pageWidthMax
	margin: 0 auto

.middlecoll
	margin-left: $sidebarWidth
	padding: 20px 0 20px 40px
