

// автоматически сгенерированый вспомагательный файл с переменными для спрайтов
@import "_sprite"

// дефолтные переменные для цветов и тд.
@import "_variables"
// функции, миксины и тд.
@import "_functions"
// reset
@import "_normalize"


// базовые стили ui
@import "userInterface"


@import "header"
@import "logo"

@import "contactsInfo"
@import "contactsInfo_colorWhite"
@import "contactsInfo_right"


@import "navigation"
@import "navigation_footer"
@import "navigation_vertical"


@import "footer"

@import "content"

@import "breadCrumbs"

@import "sidebar"

@import "middlecoll"


// пример подключения личного файла стилей для совместной работы над одним блоком
// в папке stylus создаем (mexico)footer__menu.styl
// 29.10.2014 - смержить потом
// паралельная правка блока footerMenu
//@import "(mexico)footer__menu"



// костыли
@import "_helpers"



