
// автоматически сгенерированый вспомагательный файл с переменными для спрайтов
@import "_sprite"

// дефолтные переменные для цветов и тд.
@import "_variables"
// функции, миксины и тд.
@import "_functions"
// reset



// базовые стили ui
@import "ui"


// описаные структуры страницы
@import "layout"


// базовые стили шапки
@import "header"


// базовые стили подвала
@import "footer"


// базовые стили контента
@import "content"


