.qqq
	box-sizing: border-box;
	box-shadow: 0 0 3px black;
	transform: rotate(7deg);


// автоматически сгенерированый вспомагательный файл с переменными для спрайтов
@import "_sprite"

// дефолтные переменные для цветов и тд.
@import "_variables"
// функции, миксины и тд.
@import "_functions"
// reset
@import "_normalize"


// базовые стили ui
@import "ui"


// описаные структуры страницы
@import "layout"


// базовые стили шапки
@import "header"


// базовые стили подвала
@import "footer"
@import "footer__menu"
//@import "footer__menu__adaptive"


// базовые стили контента
@import "content"





// пример подключения личного файла стилей для совместной работы над одним блоком
// в папке stylus создаем (mexico)footer__menu.styl
// 29.10.2014 - смержить потом
// паралельная правка блока footerMenu
//@import "(mexico)footer__menu"





// костыли
@import "_helpers"
