

.navigation_vertical.navigation
	margin: 0 0 20px 0
	background: none
.navigation_vertical .navigation__ul
	height: auto
	border-left: 0
.navigation_vertical .navigation__ul__li
	float: none
	border-bottom: 1px solid #FFF
.navigation_vertical .navigation__ul__li__a
	display: block
	padding: 10px 20px
	line-height: auto
	font-size: $fontSizeS
	text-transform: none
	color: #FFF
	background: #000


.navigation_vertical .navigation__submenu
	width: 200px
	left: auto
	top: 0
	right: -200px
	border: 0
	background: #000
	li
		padding: 0
		border: 0
		a
			padding: 10px
			display: block
			font-size: $fontSizeM
			color: #FFF
			border-bottom: 1px solid #FFF


