

.navigation_footer.navigation
	clear: none
	float: left
	background: none
.navigation_footer .navigation__ul
	height: auto
	border-left: 0
.navigation_footer .navigation__ul__li
	border-right: 0
.navigation_footer .navigation__ul__li__a
	line-height: normal
	font-size: $fontSizeM





