
html, body, a, input, textarea, select
	font-size: $fontSizeXS
	font-family: $fontFam
	color: $colorText

img
	display: inline-block
	vertical-align: top

form
	margin: 0
	padding: 0

input[type="image"],
input[type="button"],
label
	cursor: pointer

table
	width: 100%
	border-collapse: collapse
	border-spacing: 0
	border: 0


h1
h2,
h3,
h4,
h5,
h6
	margin: 0 0 20px 0
	font-size: $fontSizeXXXL
	font-weight: normal
	color: $colorText

h2
	font-size: $fontSizeXXL

h3
	font-size: $fontSizeXL

h4
	font-size: $fontSizeL

h5
	font-size: $fontSizeM

h6
	font-size: $fontSizeS




a
	color: $colorLink
	&:hover
		text-decoration: none



