
html, body, a, input, textarea, select
	font-size: $fontSize
	font-family: $fontFam
	color: $colorText

img
	display: inline-block
	vertical-align: top

form
	margin: 0
	padding: 0

input[type="image"],
input[type="button"],
label
	cursor: pointer

table
	width: 100%
	border-collapse: collapse
	border-spacing: 0
	border: 0


h1
h2,
h3,
h4,
h5,
h6
	margin: 0 0 20px 0
	font-size: 30px
	font-weight: normal
	color: $colorText

h2
	font-size: 25px

h3
	font-size: 23px

h4
	font-size: 21px

h5
	font-size: 18px

h6
	font-size: 16px


a
	color: $colorLink
	&:hover
		text-decoration: none


.xyu
	width: auto
	border: 1px solid red
.ie8 .xyu
	width: 900px
@media(max-width: 600px)
	.xyu
		width: 200px
