
.verticalMenu
	margin: 0 0 20px 0
.verticalMenu__ul
	margin: 0
	padding: 0
	list-style: none
.verticalMenu__ul__li
	border-bottom: 1px solid #FFF
.verticalMenu__ul__li__a
	display: block
	padding: 10px 20px
	font-size: $fontSizeS
	color: #FFF
	background: #000

